:root {
  --header-color: #E7717D;
  --secondary-color: #C2CAD0;
  --button-background: #C2B9B0;
  --text-color: #7E685A;
  --background-color: #f1f3f5;
}

body {
  max-width: 100vw;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

main {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
}

p,span,label {
  color: var(--text-color);
  max-width: 64ch;
}

button {
  background-color: var(--button-background);
  color: var(--background-color);
  border: none;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  padding: 10px;
  border-radius: 5px;
  color: var(--text-color);
  border: 1px solid var(--secondary-color);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

select {
  padding: 10px;
  border-radius: 5px;
  color: var(--text-color);
  border: 1px solid var(--secondary-color);
}
option {
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 95vw;
  height: 100%;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

.transparent {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: var(--header-color);
  height: fit-content;
  cursor: pointer;
  transition: background-color 0.3s ease-out, border-radius 0.3s ease-out;
  &:hover,
  &:focus {
    background-color: var(--button-background);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease-out, border-radius 0.3s ease-out;
  }

}